1 VERSIONINFO
 FILEVERSION 0,10,0,0
 PRODUCTVERSION 0,10,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Licensed under the Apache License, Version 2.0 (the ""License""); you may not use this file except in compliance with the License.  You may obtain a copy of the License at\r\n\r\nhttp://www.apache.org/licenses/LICENSE-2.0\r\n\r\nUnless required by applicable law or agreed to in writing, software distributed under the License is distributed on an ""AS IS"" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the License for the specific language governing permissions and limitations under the License."
            VALUE "CompanyName", "Nils Maier"
            VALUE "FileDescription", "xsendfile_module for Apache"
            VALUE "FileVersion", "0.10"
            VALUE "InternalName", "mod_xsendfile.so"
            VALUE "LegalCopyright", "Copyright 2006-2007 Nils Maier"
            VALUE "OriginalFilename", "mod_xsendfile.so"
            VALUE "ProductName", "Apache HTTP Server"
            VALUE "ProductVersion", "0.10"
        END
    END
END